.idea
**.pyc
**.log
__pycache__
log
**.ipynb
response
**.ipynb_checkpoints
task
requests
test_config_api
hw3-1/test_fields.py
hw3-1/config_api_test
hw3-1/api.log
hw4/client
hw4/test_result
hw4/DOCUMENT_ROOT
hw5/django-polls
hw5/hardcode
hw5/venv



