{% extends "qa/base.html" %}

{% block content %}
  <h2>{{question.title}}</h2>
  <div>{{question.text}}</div>
  <dl class="row">
    <dd class="col-sm-9">
      {% for tag in question.tags.all %}
      <span class="badge badge-success">{{ tag.text }}</span>
      {% endfor %}
    </dd>
    <dd class="col-sm-3">
      <a href="profile/{{ question.author.id }}/">{{ question.author.username }}</a>
    </dd>
  </dl>

  <hr>
  <h3>Answers</h3>
  {% for ans in answer %}
    <dl class="row">
      <dd class="col-sm-9">{{ans.text}}</dd>
      <dt class="col-sm-3">
        <a href="/profile/{{ ans.author.id }}/">{{ans.author}}</a>
      </dt>
    </dl>
    <hr>
  {% endfor %}

  {% if user.is_authenticated %}
    <h2>Replay</h2>
    {% for e in form.non_field_errors %}
      <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="POST" action="{{ question.get_url }}">
      {% csrf_token %}
      <fieldset>
          {% for field in form %}
          <div class="control-group{% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
          </div>
          {% endfor %}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  {% endif %}
{% endblock %}